* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myriad Variable Concept', sans-serif;
    font-weight: 600;
}

.top{
    background-color: rgb(15, 15, 15);
    height: 5.8vw;
    display: flex;
    padding-top: 2vw;
    
}

.dropdown {
  position: relative;
  top: -2vw;
}

.nav{
  margin-top: -3.5vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;

}

.nav a  {
    position: relative;
    top: 1vw;
    font-family: 'Myriad Variable Concept', sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(240, 240, 240);
    padding: 0.5vw 3vw;
}

.dropdown .btn {
    position: relative;
    margin-top: 6vw;
    font-family: 'Myriad Variable Concept', sans-serif;
    font-weight: 600;
    font-size: 1.2vw;
    text-decoration: none;
    color: rgb(240, 240, 240);
    background-color: transparent;
    padding:  0.5vw 3vw;
    border: none;
    
  }

.uline{
    margin-left: 7vw;
    border-bottom: 3px solid red;
}

.nav a:hover {
    border-bottom: 3px solid red;
}

.btn:hover {
    border-bottom: 3px solid red;
}
  
.Ft {
    display: none;
    position: absolute;
    background-color: rgb(15, 15, 15);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.Ft a {
    position: relative;
    top: 0vw;
    float: none;
    color: whitesmoke;
    padding: 1vw 1vw;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.Ft a:hover {
    background-color: #dddddd4b;
  }
  
.dropdown:hover .Ft {
    display: block;
  }



.Log{
    background-color: #ddd;
    border: none;
    height: 2.2vw;
    width: 5vw;
    color: black;
    text-align: center;
    font-size: 0.8vw;
    text-decoration: none;
    display: inline-block;
    margin: 0.2vw 4vw;
    cursor: pointer;
    border-radius: 16px;
  }

.MT{
  font-size: 7vw;
  position: absolute;
  top: 15.5vw;
  left: 9vw;
  letter-spacing: 0.5vw;
  color: whitesmoke;
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.T1{
  font-size: 1.5vw;
  position: absolute;
  top: 24vw;
  left: 9vw;
  letter-spacing: 0.1vw;
  color: whitesmoke;
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.T2{
  font-size: 1.3vw;
  position: absolute;
  top: 32vw;
  left: 65vw;
  letter-spacing: -0.05vw;
  color: rgb(31, 31, 31);
  font-style: oblique;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.T3{
  font-size: 0.8vw;
  position: absolute;
  top: 7.8vw;
  left: 75.5vw;
  letter-spacing: 0vw;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.I1{
  position: absolute;
  left: 86.5vw;
  top: 6.5vw;
  height: auto;
  width: 3vw;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.I2{
  position: absolute;
  left: 90vw;
  top: 6.5vw;
  height: auto;
  width: 3vw;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.I3{
  position: absolute;
  left: 93.5vw;
  top: 6.5vw;
  height: auto;
  width: 3vw;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.o1{
  height: auto;
  width: 30vw;
  position: absolute;
  left: 63vw;
  top: 11vw;
}

.T4{
  font-size: 0.7vw;
  position: absolute;
  top: 28.7vw;
  left: 84vw;
  letter-spacing: 0vw;
  color: whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.7)
}

.aub {
  background-color: #000000;  
  color: whitesmoke;            
  font-size: 1vw;            
  padding: 1vw 2.2vw;         
  border-radius: 7px;        
  cursor: pointer;           
  outline: none;              
  transition: all 0.3s ease;  
  position: absolute;
  top: 30vw;
  left: 10vw;
  outline: none;
}


.aub:hover {
  background-color: #ffffff; 
  color: black;
  outline: none;
}

.T5{
  font-size: 4vw;
  position: absolute;
  top: 87.5vw;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 0vw;
  color: whitesmoke;
}

.T6{
  font-size: 1vw;
  position: absolute;
  top: 92.5vw;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.1vw;
  color: rgb(211, 211, 211);
}

.TC{
  height: 20.4vw;
  width: 25.5vw;
  position: absolute;
  top: -6.6vw;
  left: 41.7vw;
}

.layer3{
  position: relative;
  top: -1vw;
  background-color: rgb(255, 181, 120);
  height: 43vw;
}

.T7{
    font-size: 6vw;
    position: absolute;
    top: -2vw;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

.Pic1 {
    border-radius: 0.8vw;
    width: auto; 
    height: auto; 
    overflow: hidden; 
    display: inline-block;
    position: relative;
    top: -36vw;
    left: 12vw;
    
  }

.Pic2 {
    border-radius: 0.8vw;
    width: auto; 
    height: auto; 
    overflow: hidden; 
    display: inline-block;
    position: relative;
    top: -36vw;
    left: 20vw;
  }
  
.Pic3 {
    border-radius: 0.8vw;
    width: auto; 
    height: auto; 
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: -18vw;
    left: -13vw;
  }

.Pic4 {
    border-radius: 0.8vw;
    width: auto;
    height: auto;
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: -18vw;
    left: -5vw;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    filter: brightness(0.6);
    transition: transform 0.4s ease, filter 0.4s ease;
  }
  
  .image-link:hover .thumbnail {
    transform: scale(1.1);
    filter: brightness(1);
  }
  
  .T8{
    font-size: 1.6vw;
    position: absolute;
    top: 20vw;
    left: 12.5vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T9{
    font-size: 1.6vw;
    position: absolute;
    top: 20vw;
    left: 44vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }
  
  .T10{
    font-size: 1.6vw;
    position: absolute;
    top: 38.2vw;
    left: 34.5vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T11{
    font-size: 1.6vw;
    position: absolute;
    top: 38.2vw;
    left: 65.5vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

.downbar{
    background-color: rgb(20, 20, 20);
    width: auto;
    height: 16vw;
}

.T12{
    font-size: 1.6vw;
    position: absolute;
    top: 197vw;
    left: 28vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T13{
    font-size: 1vw;
    position: absolute;
    top: 200vw;
    left: 28vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T14{
    font-size: 1vw;
    position: absolute;
    top: 202vw;
    left: 28vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T15{
    font-size: 1vw;
    position: absolute;
    top: 204vw;
    left: 28vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T16{
    font-size: 1.6vw;
    position: absolute;
    top: 197vw;
    left: 60vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T17{
    font-size: 1vw;
    position: absolute;
    top: 200vw;
    left: 60vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T18{
    font-size: 1vw;
    position: absolute;
    top: 202vw;
    left: 60vw;
    letter-spacing: 0.1vw;
    color: rgb(211, 211, 211);
  }

  .T19{
    font-size: 1vw;
    position: absolute;
    top: 207.5vw;
    left: 0;
    right: 0;
    text-align: center;
    letter-spacing: 0.1vw;
    color: rgba(211, 211, 211, 0.342);
  }
